{
  "openapi": "3.0.4",
  "info": {
    "title": "D-Tools Cloud API v2",
    "description": "V2 platform API with PlatformContext, authorization policies, and structured error envelopes.",
    "version": "v2"
  },
  "servers": [
    {
      "url": "https://dtcloudapi.d-tools.cloud",
      "description": "Production (verify this)"
    },
    {
      "url": "https://dtoolsdevapi.azure-api.net",
      "description": "Development (verify this)"
    }
  ],
  "paths": {
    "/api/v2/contacts": {
      "get": {
        "tags": [
          "CRM"
        ],
        "summary": "List contacts with optional filtering, search, sorting, and pagination.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `contacts` · **Policy:** `Clients:Read` · **Access depth:** `Read` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** no · **Async job:** no · **Workload:** `RequestResponseRead`\n\nReturns tenant-scoped contacts through the existing catalog contact manager. companies, titles, active, search, sort, and paging mirror the legacy contact-list behavior.",
        "operationId": "v2.crm.contacts.list",
        "parameters": [
          {
            "name": "companies",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "titles",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "active",
            "in": "query",
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.CatalogData.GetContactsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.CatalogData.GetContactsResult"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.crm.contacts.list",
        "x-dtools-feature-key": "crm",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": false,
        "x-dtools-async-job": false,
        "x-dtools-policy": "Clients:Read",
        "x-dtools-capability-family": "contacts",
        "x-dtools-access-depth": "Read",
        "x-dtools-workload-class": "RequestResponseRead"
      }
    },
    "/api/v2/contacts/{id}": {
      "get": {
        "tags": [
          "CRM"
        ],
        "summary": "Get a single contact by internal ID.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `contacts` · **Policy:** `Clients:Read` · **Access depth:** `Read` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** no · **Async job:** no · **Workload:** `RequestResponseRead`\n\nThe contact id is the integer contact id used by the backing catalog service. The lookup is scoped by the PlatformContext-derived legacy session.",
        "operationId": "v2.crm.contacts.get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.CatalogData.ContactDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.CatalogData.ContactDetail"
                }
              }
            }
          },
          "400": {
            "description": "The request payload, route value, or query string is invalid. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "invalid_argument",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.crm.contacts.get",
        "x-dtools-feature-key": "crm",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": false,
        "x-dtools-async-job": false,
        "x-dtools-policy": "Clients:Read",
        "x-dtools-capability-family": "contacts",
        "x-dtools-access-depth": "Read",
        "x-dtools-workload-class": "RequestResponseRead"
      }
    },
    "/api/v2/tasks/product-ai-chat": {
      "post": {
        "tags": [
          "Catalog"
        ],
        "summary": "Execute a product AI chat task.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `catalog` · **Policy:** `Catalog:AiTask` · **Access depth:** `WorkflowTask` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** yes · **Async job:** yes · **Workload:** `AiTaskExecution`\n\nCreates a platform job, runs the AI chat via ProductAIChatManager, records usage.\n\nResolves the public product Guid to the tenant-scoped item id, creates a platform job, executes the product AI chat workflow, records AI usage, and returns a TaskResult.",
        "operationId": "v2.catalog.tasks.product-ai-chat.create",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional client-generated key for replay-safe POST/PUT calls. The cache key is scoped by tenant, method, path, and key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Api.V2.Controllers.ProductAiChatRequest"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Api.V2.Controllers.ProductAiChatRequest"
              },
              "examples": {
                "productAiChat": {
                  "summary": "Ask a product-specific AI question",
                  "value": {
                    "productId": "9d6048f4-7a4a-423f-a30c-95b6f3e2488d",
                    "message": "Is this product appropriate for outdoor installation?",
                    "conversationId": "conversation-123"
                  }
                }
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Api.V2.Controllers.ProductAiChatRequest"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Api.V2.Controllers.ProductAiChatRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.TaskResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.TaskResult"
                }
              }
            }
          },
          "400": {
            "description": "The request payload, route value, or query string is invalid. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "invalid_argument",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found in the caller's tenant scope. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "not_found",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.catalog.tasks.product-ai-chat.create",
        "x-dtools-feature-key": "catalog",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": true,
        "x-dtools-async-job": true,
        "x-dtools-policy": "Catalog:AiTask",
        "x-dtools-capability-family": "catalog",
        "x-dtools-access-depth": "WorkflowTask",
        "x-dtools-workload-class": "AiTaskExecution"
      }
    },
    "/api/v2/clients": {
      "get": {
        "tags": [
          "CRM"
        ],
        "summary": "List clients with optional filtering, search, sorting, and pagination.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `clients` · **Policy:** `Clients:Read` · **Access depth:** `Read` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** no · **Async job:** no · **Workload:** `RequestResponseRead`\n\nReturns clients visible to the caller's tenant through the legacy CloudApi client service. Optional type, owner, search, sort, and paging parameters follow the existing client-list contract.",
        "operationId": "v2.crm.clients.list",
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "owners",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.GetClientsResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.GetClientsResult"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.crm.clients.list",
        "x-dtools-feature-key": "crm",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": false,
        "x-dtools-async-job": false,
        "x-dtools-policy": "Clients:Read",
        "x-dtools-capability-family": "clients",
        "x-dtools-access-depth": "Read",
        "x-dtools-workload-class": "RequestResponseRead"
      },
      "post": {
        "tags": [
          "CRM"
        ],
        "summary": "Create a new client.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `clients` · **Policy:** `Clients:Write` · **Access depth:** `BoundedWrite` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** yes · **Async job:** no · **Workload:** `BoundedWrite`\n\nPersists a client using the existing CloudApi client payload shape. The tenant is taken from PlatformContext, not from the request body.",
        "operationId": "v2.crm.clients.create",
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional client-generated key for replay-safe POST/PUT calls. The cache key is scoped by tenant, method, path, and key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Data.Client"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Data.Client"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Data.Client"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Data.Client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2IdResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2IdResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request payload, route value, or query string is invalid. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "invalid_argument",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.crm.clients.create",
        "x-dtools-feature-key": "crm",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": true,
        "x-dtools-async-job": false,
        "x-dtools-policy": "Clients:Write",
        "x-dtools-capability-family": "clients",
        "x-dtools-access-depth": "BoundedWrite",
        "x-dtools-workload-class": "BoundedWrite"
      }
    },
    "/api/v2/clients/{id}": {
      "get": {
        "tags": [
          "CRM"
        ],
        "summary": "Get a single client by ID.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `clients` · **Policy:** `Clients:Read` · **Access depth:** `Read` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** no · **Async job:** no · **Workload:** `RequestResponseRead`\n\nThe route id is the public client Guid. The legacy service resolves the record within the caller's tenant.",
        "operationId": "v2.crm.clients.get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.ClientDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.ClientDetail"
                }
              }
            }
          },
          "400": {
            "description": "The request payload, route value, or query string is invalid. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "invalid_argument",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "404": {
            "description": "The requested resource was not found in the caller's tenant scope. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "not_found",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.crm.clients.get",
        "x-dtools-feature-key": "crm",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": false,
        "x-dtools-async-job": false,
        "x-dtools-policy": "Clients:Read",
        "x-dtools-capability-family": "clients",
        "x-dtools-access-depth": "Read",
        "x-dtools-workload-class": "RequestResponseRead"
      },
      "put": {
        "tags": [
          "CRM"
        ],
        "summary": "Update an existing client.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `clients` · **Policy:** `Clients:Write` · **Access depth:** `BoundedWrite` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** yes · **Async job:** no · **Workload:** `BoundedWrite`\n\nUpdates the client identified by the public Guid in the route. The request body uses the legacy client shape and is saved within the caller's tenant context.",
        "operationId": "v2.crm.clients.update",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional client-generated key for replay-safe POST/PUT calls. The cache key is scoped by tenant, method, path, and key.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json-patch+json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Data.Client"
              }
            },
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Data.Client"
              }
            },
            "text/json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Data.Client"
              }
            },
            "application/*+json": {
              "schema": {
                "$ref": "#/components/schemas/DTools.Cloud.Data.Client"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2OperationResponse"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2OperationResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request payload, route value, or query string is invalid. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "invalid_argument",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.crm.clients.update",
        "x-dtools-feature-key": "crm",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": true,
        "x-dtools-async-job": false,
        "x-dtools-policy": "Clients:Write",
        "x-dtools-capability-family": "clients",
        "x-dtools-access-depth": "BoundedWrite",
        "x-dtools-workload-class": "BoundedWrite"
      }
    },
    "/api/v2/files/{id}": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "Get file detail and signed URL by file id.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `files` · **Policy:** `Files:Read` · **Access depth:** `Read` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** no · **Async job:** no · **Workload:** `RequestResponseRead`\n\nResolves file metadata for the caller's tenant and returns the legacy file detail shape, including the service-provided access URL when available.",
        "operationId": "v2.files.get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.FileDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.FileDetail"
                }
              }
            }
          },
          "400": {
            "description": "The request payload, route value, or query string is invalid. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "invalid_argument",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.files.get",
        "x-dtools-feature-key": "files",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": false,
        "x-dtools-async-job": false,
        "x-dtools-policy": "Files:Read",
        "x-dtools-capability-family": "files",
        "x-dtools-access-depth": "Read",
        "x-dtools-workload-class": "RequestResponseRead"
      }
    },
    "/api/v2/files": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "List files by entity (client, opportunity, project, quote).",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `files` · **Policy:** `Files:Read` · **Access depth:** `Read` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** no · **Async job:** no · **Workload:** `RequestResponseRead`\n\nLists files attached to a tenant-scoped entity. entityId must be a Guid and entityType must match an entity category supported by the backing file repository.",
        "operationId": "v2.files.list",
        "parameters": [
          {
            "name": "entityType",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "entityId",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Api.V2.Controllers.V2FileListResponse"
                },
                "examples": {
                  "files": {
                    "summary": "Files attached to an entity",
                    "value": {
                      "entityType": "project",
                      "entityId": "9d6048f4-7a4a-423f-a30c-95b6f3e2488d",
                      "page": 1,
                      "pageSize": 20,
                      "files": [
                        {
                          "id": "a7be9a11-9c2e-4c5d-93d4-d9af8b9b65da",
                          "name": "signed-proposal.pdf",
                          "url": "https://files.example.com/signed-proposal.pdf"
                        }
                      ]
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Api.V2.Controllers.V2FileListResponse"
                }
              }
            }
          },
          "400": {
            "description": "The request payload, route value, or query string is invalid. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "invalid_argument",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.files.list",
        "x-dtools-feature-key": "files",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": false,
        "x-dtools-async-job": false,
        "x-dtools-policy": "Files:Read",
        "x-dtools-capability-family": "files",
        "x-dtools-access-depth": "Read",
        "x-dtools-workload-class": "RequestResponseRead"
      }
    },
    "/api/v2/opportunities": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "List opportunities with optional filtering, search, sorting, and pagination.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `opportunities` · **Policy:** `Opportunities:Read` · **Access depth:** `Read` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** no · **Async job:** no · **Workload:** `RequestResponseRead`\n\nReturns tenant-scoped opportunities through the legacy opportunity service. Optional type, stage, search, sort, and paging values follow the existing opportunity-list contract.",
        "operationId": "v2.opportunities.list",
        "parameters": [
          {
            "name": "types",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "stages",
            "in": "query",
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 1
            }
          },
          {
            "name": "pageSize",
            "in": "query",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.GetOpportunitiesResult"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.GetOpportunitiesResult"
                }
              }
            }
          },
          "401": {
            "description": "Authentication failed or no valid v2 Bearer token was provided. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unauthorized",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "403": {
            "description": "The principal is authenticated but does not satisfy v2 governance, release, policy, budget, channel, or capability requirements. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "permission_missing",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "429": {
            "description": "The request was throttled or rejected by a workload budget. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "budget_exceeded",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "500": {
            "description": "The server failed while processing the request. The response body is a V2ErrorEnvelope with correlation identifiers.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "unexpected_error",
                        "message": "The request could not be completed.",
                        "retryable": false,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          },
          "503": {
            "description": "A required platform dependency or release configuration is temporarily unavailable. The response body is a retryable V2ErrorEnvelope when retryable is true.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                },
                "examples": {
                  "error": {
                    "summary": "Structured v2 error envelope",
                    "value": {
                      "error": {
                        "code": "release_config_unavailable",
                        "message": "The request could not be completed.",
                        "retryable": true,
                        "requestId": "req-20260520-001",
                        "correlationId": "corr-20260520-001",
                        "details": null
                      }
                    }
                  }
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.DataObjects.Platform.V2ErrorEnvelope"
                }
              }
            }
          }
        },
        "x-dtools-endpoint-id": "v2.opportunities.list",
        "x-dtools-feature-key": "opportunities",
        "x-dtools-default-release-stage": "GenerallyAvailable",
        "x-dtools-release-gated": true,
        "x-dtools-idempotent": false,
        "x-dtools-async-job": false,
        "x-dtools-policy": "Opportunities:Read",
        "x-dtools-capability-family": "opportunities",
        "x-dtools-access-depth": "Read",
        "x-dtools-workload-class": "RequestResponseRead"
      }
    },
    "/api/v2/opportunities/{id}": {
      "get": {
        "tags": [
          "Opportunities"
        ],
        "summary": "Get a single opportunity by ID.",
        "description": "<!-- x-dtools-meta -->\n\n**Capability:** `opportunities` · **Policy:** `Opportunities:Read` · **Access depth:** `Read` · **Release stage:** `GenerallyAvailable` · **Release-gated:** yes · **Idempotent:** no · **Async job:** no · **Workload:** `RequestResponseRead`\n\nThe route id is the public opportunity Guid. The response is scoped to the caller's tenant and uses the existing opportunity detail shape.",
        "operationId": "v2.opportunities.get",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.OpportunityDetail"
                }
              },
              "text/json": {
                "schema": {
                  "$ref": "#/components/schemas/DTools.Cloud.Data.OpportunityDetail"
                }
              }
            }
          },
          "400": {
            "description": "The request payload, route value, or query string is invalid. The response body is a V2ErrorEnvelope.",
            "content": {
              "application/json": {
[...]
